aside {
    background-color: #F5F5F5;
    border: 1px solid #616161;
    padding: 0 1em;
}

section {
    border: 1px solid #616161;
    border-left-width: 0;
    border-right-width: 0;
    padding: 0 1em;
}

th.org-left {
    padding-right: 1em;
}

td.org-left {
    padding-right: 1em;
}
